@charset "UTF-8";

:root {
  --cor-azul: #82c0d9;
  --cor-azul-claro: #cef2ef;
  --cor-marrom: #592a25;
  --cor-marrom-claro: #8c655d;
  --cor-marrom-escuro: #0d0d0d;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--cor-azul);
  width: 100vw;
  height: 100vw;
}

main {
  background-color: var(--cor-azul);
  position: relative;
  width: 100vw;
  height: 100vh;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0d0d0d81;

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: var(--cor-azul) url(../images/pexels-damir-16335483.jpg) no-repeat;
  background-size: cover;
  background-position: top right;
  height: 200px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

section#login > div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.4em;
}

section#login > div#formulario > p {
  font-size: 0.8em;
  text-align: justify;
}
